@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import './variables';
@import './common';

*,
html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background: $light-color;
}
